.container {
	width: 920px;
	margin: 0 auto;
}

.container ul{
	list-style: none;
	padding: 12px 0;
	text-align: right;
}

.container ul li{
	display: inline-block;
}

.container a{
	text-decoration: none;
	padding: 12px;
}

img {
	width: 100%;
	height: auto;
}

.clear {
	clear: both;
}

h1, h2, h3 {
	color: #7D5BA6;
}

h1{
	font-size: 26px;
	float: left;
}

.right {
	float: right;
	display: inline-block;
}

.right nav ul {
	list-style: none;
	display: inline-block;
}

h2 {
	font-size: 21px;
}

h3 {
	font-size: 18px;
}

/* hr style ---------
	.aside-hr {
		background-color: #FC6471;
		width: 200px;
		height: 1px;
		border: 0;
	}
*/

/*
	white: #FFFFFF
	purple: #7D5BA6
	black: #2C3E50
	red: #FC6471
*/

.aside-hr {
	background-color: #FC6471;
	width: 200px;
	height: 1px;
	border: 0;
	float: left;
}

.aside {
	width: 300px;
	float: left;
}

.main {
	float: right;
	width: 620px;
	font-size: 16px;
	line-height: 24px;
	text-align: justify;
}

button {
	background-color:#7D5BA6;
	color: white;
}

